<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>게시글 목록</title>
</head>

<body>
	<h1 align="center">게시글 목록</h1>
	<h1 th:text="${userId}"></h1>
	<hr>
	<form method="post">
	<table align="center" border="1" width="700">
		<tr>
			<th bgcolor="orange" width="10%">아이디</th>
			<th bgcolor="orange" width="10%">암호</th>
			<th bgcolor="orange" width="10%">이름</th>
			<th bgcolor="orange" width="10%">이메일</th>
			<th bgcolor="orange" width="10%">가입일자</th>
		</tr>
		<tr th:each="member:${memberList}">
			<td align="center">
				<a th:href="@{/member/detailMember(id=${member.id})}" th:text="${member.id}"></a>
			</td>
			<td align="center" th:text="${member.pwd}"></td>
			<td th:text="${member.name}" align="center"></td>
			<td th:text="${member.email}" align="center"></td>
			<td th:text="${member.joinDate}" align="center"></td>
		</tr>
	</table>
	</form>
</body>

</html>